<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Webinar Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <form action="/fetch_participants" method="post">
      <label for="webinar_id">Webinar ID:</label>
      <input
        type="text"
        id="webinar_id"
        name="webinar_id"
        required
      /><br /><br />

      <label for="start_date">Start Date:</label>
      <input
        type="date"
        id="start_date"
        name="start_date"
        required
      /><br /><br />

      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date" required /><br /><br />

      <input type="submit" value="Fetch Participants" />
    </form>
  </body>
</html>
