<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Email</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <form action="{{ url_for('process_email') }}" method="post">
      <label for="subject">Subject:</label><br />
      <input type="text" id="subject" name="subject" required /><br /><br />
      <label for="email_message">Write your message:</label><br />
      <textarea
        id="email_message"
        name="email_message"
        rows="10"
        cols="50"
        required
      ></textarea
      ><br /><br />
      <input type="submit" value="Send Email" />
    </form>
  </body>
</html>
